* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}

html,
body {
  min-height: 100%;
  color: white;
  text-shadow: 0 0 3px rgb(255, 23, 23), 0 0 3px rgb(255, 255, 255),
    0 0 5px white;
}
body {
  background: url(./img/back-img2.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

h2 {
  border-radius: 10px;
}
hr {
  margin: 8px 0;
  height: 2px;
  border-radius: 50px;
  border: none;
  background: white;
  box-shadow: 0 0 0 1px rgb(123, 4, 4), 0 0 0 2px rgb(146, 42, 42),
    0 0 0 3px rgb(123, 4, 4);
}
button {
  border: none;
  cursor: pointer;
}

#root {
  display: flex;
  justify-content: center;
}
.board {
  padding: 2px;
  margin-top: 35px;
  border: 5px solid white;
  border-radius: 35px;
  box-shadow: 0px 0px 3px white, 0px 0px 7px white, 0px 0px 10px white,
    0px 0px 12px rgb(150, 2, 98), 0px 0px 15px rgb(150, 2, 98),
    0px 0px 20px rgb(150, 2, 98), 0px 0px 3px white inset,
    0px 0px 7px white inset, 0px 0px 10px white inset,
    0px 0px 12px rgb(150, 2, 98) inset, 0px 0px 15px rgb(150, 2, 98) inset,
    0px 0px 20px rgb(150, 2, 98) inset;
}
.board-row {
  display: flex;
  width: 603px;
  height: 201px;
}

.status {
  font-size: 58px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  border-radius: 20px;
  padding: 5px;
}

.history {
  min-width: 400px;

  border-radius: 10px;
  padding: 5px;
  text-align: center;
  position: absolute;
  top: 44px;
  right: 10px;
  font-size: 34px;
  font-weight: 700;
}
.history__title {
  margin-bottom: 10px;
}
@media (max-width: 1200px) {
  .board-row {
    width: 360px;
    height: 120px;
  }
  .status {
    font-size: 44px;
  }
}
@media (max-width: 1400px) {
  .history {
    margin-top: 10px;
    position: relative;
    top: 0px;
    right: 0px;
  }
}
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 5px #fff,
      0 0 11px rgb(120, 3, 112), 0 0 20px rgb(88, 2, 87),
      0 0 30px rgb(105, 3, 107), 0 0 55px rgb(91, 2, 95),
      0 0 60px rgb(87, 7, 88);
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
h2 {
  animation: flicker 5s infinite alternate;
}
.history__btn {
  min-width: 200px;
  border-radius: 6px;
  background: inherit;
  color: white;
  text-shadow: 0 0 1px white, 0 0 3px white, 0 0 5px rgb(213, 213, 215),
    0 0 6px rgb(237, 237, 237);
  outline: 1px solid white;
  font-size: inherit;
  padding: 10px;
  margin: 5px;
}
.history__hr {
  margin-bottom: 25px;
}
.history__btn:hover {
  background: rgb(146, 7, 154);
}
li::before {
  content: "";
  position: relative;
  left: 60px;
  top: 38px;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 2px 2px white;
}
ol:last-child {
  margin-bottom: 20px;
}
.letter-x {
  color: white;
  text-shadow: 0 0 2px white, 0 0 4px white, 0 0 7px white, 0 0 9px blue,
    0 0 15px blue, 0 0 25px blue;
}
.letter-o {
  color: white;
  text-shadow: 0 0 2px white, 0 0 4px white, 0 0 7px white, 0 0 9px red,
    0 0 15px red, 0 0 25px red;
}
